.project__list {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects__head {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;    margin: 50px 0 50px 0;
}

.project__description {
    margin-left: 10px;
}

.projects__subhead {
    text-align: left;
    font-size: 32px;
    line-height: 38px;
    font-weight: 900;    
    margin: 0 0 2px 0;
}

.projects__par {
    text-align: left;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;    
    margin: 0;
}

.projects__skills {
    display: flex;
}