.title {
    display: flex;
    flex-direction: column;
    }

.title__head {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;    margin: 50px 0 50px 0;
}

.title__list {
    display: flex;
    justify-content: space-evenly;
}