.goals__media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45vh;
}

.goals__images {
    height: inherit;
    position: relative;
}

.img1, .img2, .img3, .img4 {
    position: absolute;
}

.img1 {
    margin-left: 155px;
}

.img2 {
    margin-top: 210px;
    margin-left: 50px;
}

.img3 {
    margin-left: 450px;
    margin-top: 230px;
}

.img4 {
    margin-left: 200px;
    margin-top: 50px;
}

.comp_vision {
    width: 420px;
    margin-top: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.comp_vision h3 {
    font-size: 24px;
    font-weight: bold;
}