.join {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    height: 60vh;
}

.join__img {
    position: relative;
    width: 135%;
    height: 100%;
}

.join__img1 {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.join__img2 {
    position: absolute;
    bottom: 0%;
    left: 3%;
    z-index: 1;
}

.join__img3 {
    position: absolute;
    top: 23%;
    right: 0%;
}