.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.stats__item {
    max-width: 275px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
}

.stats__item h3 {
    font-size: 58px;
    color: var(--main-blue);
}

