:root {
    --main-blue: rgba(0, 133, 255, 1);
    --main-text: rgba(3, 77, 130, 1);
    --second-text: #90A3B4;

    --main-grey: #6C6C6C;
    --grey: #F3F3F3;
    --shadow: rgba(255, 255, 255, 1);
    --white: #fff;
}