.animation {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation__loader {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    margin-right: 20px;
}

.animation__loader_1 {
    animation-name: circle-to-circle, color-change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    /* animation: circle-to-circle 1s alternate-reverse infinite alternate-reverse ease-in-out
               color-change 1s alternate-reverse 1s infinite ease-in-out; */
}

.animation__loader_2 {
    animation-name: circle-to-circle, color-change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    /* animation: circle-to-circle 1s alternate-reverse infinite 3s alternate-reverse ease-in-out
               color-change 1s alternate-reverse 3s infinite ease-in-out; */
    
}

.animation__loader_3 {
    animation-name: circle-to-circle, color-change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    /* animation: circle-to-circle 1s alternate-reverse 5s infinite alternate-reverse ease-in-out
               color-change 1s alternate-reverse 5s infinite ease-in-out; */
    

}

@keyframes circle-to-circle {
    from {
        border-radius: 25px;
        width: 50px;
        height: 50px;
        background-color: lightslategray;
    }
    to {
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }    
}

@keyframes color-change {
    from {
        background-color: lightslategray;                
    }
    to {
        background-color: #000000;        
    }
    
}