.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin-right: 50px;
}

a {
    margin: 0 40px;
    color: var(--white);
    text-decoration: none;
}

