.skills__head {
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;    margin: 50px 0 50px 0;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-image: linear-gradient(red, yellow); */
}

.skills__list div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 769px) {
    .skills__list {
        flex-direction: column;
    }
    
    .skills__list div {
        width: 100%;
    }    
}
