html, body {
	height: 100%;
} 

body {
	margin: 0;
	text-align: center;
	padding: 5px;
	
	position: relative;

}

* {
	box-sizing: border-box;
}



.heading-1 {

}


.heading-1:before, .heading-1:after {
	content: "";
	display: block;
	height: 55px;
	background-image: url("../img/decor.png");
	width: 80px;
	background-position: 0px 10px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.heading-1:before {
	margin-right: 35px;
}

.heading-1:after {
	margin-left: 35px;
}