.button {
    display: inline-block;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
    border: none;
    background-color: #0AC883;
    box-shadow: 0px 8px 20px 0px rgba(24, 219, 148, 0.35);

    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: none;

    cursor: pointer;
}
